gastroenterologia.haml
!!!5
%html{class:"no-js", lang:"es"}
  %head
    %meta{charset:"utf-8"}
    %meta{name:"description", content:"Medico internista con especialidad en gastroenterologia."}
    %meta{name:"keywords",content:"Medicina, Gastroenterologia, Medicina interna,Doctor,Medico"}
    %meta{name:"author",content:"Adan Jaciel Palacios Rivas | ajpalacios.sist@gmail.com"}
    %link{ rel:"icon", href:"images/icon.ico"}
    %link{rel:"stylesheet", href:"css/normalize.css"}
    %link{rel: "stylesheet", href:"css/semantic.min.css"}
    %link{rel:"stylesheet", href:"css/main.css?version=3.3"}
    %link{rel:"stylesheet", href:"https://cdnjs.cloudflare.com/ajax/libs/flexboxgrid/6.3.1/flexboxgrid.css"}
    %link{ rel:"stylesheet", href:"https://fonts.googleapis.com/css?family=Montserrat"}
    %link{rel:"stylesheet",href:"https://fonts.googleapis.com/css?family=Nunito&amp;subset=latin-ext"}
    %link{rel:"stylesheet", href:"css/font-awesome/css/font-awesome.min.css"}
    %title Gastroenterologia
    %meta{name:"viewport", content:"width=device-width, initial-scale=1, maximum-scale=1"}
    %script{src:"js/vendor/modernizr.min.js"}
  %body
    ="<!--[if lt IE 9]>"
    %p{class:"browserupgrade"}
      Estas usando un
      %strong navegador desactualizado.
      Por favor
      %a{href:"http://browsehappy.com/"}
        actualiza tu navegador
      para una mejor experiencia.
    ="<![endif]-->"
    .relative.full-width.large-padding.navigation#responsive-nav
      .row.middle-xs.center-xs
        .col-xs-12.col-sm-12
          %nav
            %i.fa.fa-times.fa.fa-bars.fa-3x#menu-opener
            %ul
              %li
                %a.menu-link{href:"index.html"} Volver al inicio

    %section
      .big-top-space.bg-white
        .row.full-height.middle-xs.center-xs.up
          .col-xs-12.col-md-10
            .box
              %h1.montserrat.medium.blue-dark-text Gastroenterologia
          .col-xs-10.col-sm-8.col-md-6
            .box
              .ui.raised.segment.blue
                %p.paragraph.justify Es la especialidad médica derivada de la medicina interna, que se encarga de estudiar las enfermedades del aparato digestivo, esófago, estomago, intestino delgado y grueso, hígado, vesícula, vías biliares y páncreas.
                %p.paragraph.justify La especialidad médica gastroenterología esta ligada a la medicina interna de esta manera el médico realiza una valoración integral  del paciente y sus enfermedades.
                %button.ui.green.button#gastro Play Video
                .top-30.ui.embed.display-none{"data-source":"youtube","data-id":"CIhwGRIBEQ8"}
      .big-top-space
        .bg-gray.blue-dark-text.full-height.large-padding
          .row.center-xs.blue-dark-text
            .col-xs-12.col-md-12
              .box
              %h3.montserrat.medium.blue-dark-text Procedimientos
          .row.center-xs
            .col-xs-5.col-sm-4.col-md-5
              .box
                .ui.cards
                  .blue.card
                    .content
                      .header Panendoscopia
                      .image.reveal.masked.slide.ui
                        %img{src:"images/panendoscopia.png"}
                      .description
                      Es la Introducción de una sonda por la boca la cual visualiza el paladar, garganta, esófago, estómago, y duodeno.
                  .blue.card
                    .content
                      .header Colonoscopia
                      .image.reveal.masked.slide.ui
                        %img{src:"images/colonoscopia.png"}
                      .description
                      Introduccion de una sonda por la región anal, previa limpieza con la cual visualiza los 1.50 metros del intestino grueso.
          .row.center-xs
            .col-xs-10.col-sm-10.col-md-5
              .ui.blue.message.margin ESTOS ESTUDIOS SE FILMAN, SE PUEDEN FOTOGRAFIAR Y A TRAVÉS DE ESTOS ESTUDIOS SE PUEDEN TOMAR FRAGMENTOS DE ESTÓMAGO O INTESTINO CON UNA PINZA ESPECIAL PARA QUE ESTO SE ANALICE A MICROSCOPIO.
      .big-top-space
        .bg-gray.blue-dark-text.full-height.large-padding
          .row.center-xs.blue-dark-text
            .col-xs-12.col-md-12
              .box
                %h3.montserrat.medium.blue-dark-text Servicios
            .col-xs-6.col-sm-10.col-md-7.col-lg-8
              .box
                .ui.cards
                  .blue.card
                    .content
                      .header Esófago
                      .description
                        Esofagitis por reflujo, disfagia o sentir que el alimento se atora, cáncer de esófago.
                  .blue.card
                    .content
                      .header Estomago
                      .description
                        gastritis, ulcera gástrica, dispepsia o indigestión, cáncer gástrico.

                  .blue.card
                    .content
                      .header Intestino delgado
                      .description
                        Ulcera duodenal, tumores de intestino, diarrea crónica.
                  .blue.card
                    .content
                      .header Intestino grueso
                      .description
                        Estreñimiento crónico, rectoraría o defecar con sangre, diarrea infecciosa, enfermedad inflamatoria de tipo colitis ulcerosa crónica idiopática, cáncer de colon, colon irritable, hemorroides.
                  .blue.card
                    .content
                      .header Hígado
                      .description
                        Cirrosis hepática y sus complicaciones, hígado graso, hepatitis viral, hepatitis por alcohol, tumores de hígado, quistes de hígado.
                  .blue.card
                    .content
                      .header Vesícula y vías biliares
                      .description
                        Colecistitis litiasica o piedras en la vesícula, coledocolitiasis o piedras atoradas en la vía biliar, tumores de vías biliares.
                  .blue.card
                    .content
                      .header Páncreas
                      .description
                        Pancreatitis aguda por alcohol o de origen biliar, cáncer de páncreas.
      .top-30
        .gray-darken.big-padding-2.footer#footer
          .row.center-xs.text-left
            .col-lg-9
              .box
                .row.center-xs.text-left
                  .col-xs-6.col-sm-3.col-md-3.col-lg-3
                    .box
                      %p.paragraph.white-text Enlaces
                      %ul
                        %li
                          %a.white-text.menu-link{href:"index.html"} Inicio
                  .col-xs-6.col-sm-3.col-md-3.col-lg-3
                    .box
                      %p.paragraph.white-text Redes Sociales
                      %a{href:"https://www.facebook.com"}
                        %i.fa.fa-facebook-square.fa-2x.white-text
                      %a{href:"https://www.twitter.com"}
                        %i.fa.fa-twitter-square.fa-2x.white-text
                      %a{href:"https://www.gmail.com"}
                        %i.fa.fa-envelope.fa-2x.white-text
                  .col-xs-10.col-sm-10.col-md-12.col-lg-12
                    .box
                      .top-30
                      %p.thin.white-text Calle independencia #80 entre Vicente Guerrero y Callejon Morelos, San Francisco Tlaltenco Delegación Tlahuac Ciudad de México
                      %p.thin.white-text Telefonos:
                      %p.thin.white-text 55-51-96-18-98  /  55-34-60-09-96



    %script{src:"https://code.jquery.com/jquery-3.1.1.min.js"}
    %script{src:"https://maps.googleapis.com/maps/api/js?key=AIzaSyC4ObmRjEwgl4toHvl0bLhVeRZS0c_4Gps"}
    %script{src:"./js/semantic.min.js"}
    %script{src:"./js/gastro.js?version=3.2"}

gastroenterologia.html
<!DOCTYPE html>
<html class="no-js" lang="es">
  <head>
    <meta charset="utf-8">
    <meta content="Medico internista con especialidad en gastroenterologia." name="description">
    <meta content="Medicina, Gastroenterologia, Medicina interna,Doctor,Medico" name="keywords">
    <meta content="Adan Jaciel Palacios Rivas | ajpalacios.sist@gmail.com" name="author">
    <link href="images/icon.ico" rel="icon">
    <link href="css/normalize.css" rel="stylesheet">
    <link href="css/semantic.min.css" rel="stylesheet">
    <link href="css/main.css?version=3.3" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flexboxgrid/6.3.1/flexboxgrid.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Nunito&amp;amp;subset=latin-ext" rel="stylesheet">
    <link href="css/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <title>Gastroenterologia</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1" name="viewport">
    <script src="js/vendor/modernizr.min.js"></script>
  </head>
  <body>
    <!--[if lt IE 9]>
    <p class="browserupgrade">
      Estas usando un
      <strong>navegador desactualizado.</strong>
      Por favor
      <a href="http://browsehappy.com/">
        actualiza tu navegador
      </a>
      para una mejor experiencia.
    </p>
    <![endif]-->
    <div class="relative full-width large-padding navigation" id="responsive-nav">
      <div class="row middle-xs center-xs">
        <div class="col-xs-12 col-sm-12">
          <nav>
            <i class="fa fa-times fa fa-bars fa-3x" id="menu-opener"></i>
            <ul>
              <li>
                <a class="menu-link" href="index.html">Volver al inicio</a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
    <section>
      <div class="big-top-space bg-white">
        <div class="row full-height middle-xs center-xs up">
          <div class="col-xs-12 col-md-10">
            <div class="box">
              <h1 class="montserrat medium blue-dark-text">Gastroenterologia</h1>
            </div>
          </div>
          <div class="col-xs-10 col-sm-8 col-md-6">
            <div class="box">
              <div class="ui raised segment blue">
                <p class="paragraph justify">Es la especialidad médica derivada de la medicina interna, que se encarga de estudiar las enfermedades del aparato digestivo, esófago, estomago, intestino delgado y grueso, hígado, vesícula, vías biliares y páncreas.</p>
                <p class="paragraph justify">La especialidad médica gastroenterología esta ligada a la medicina interna de esta manera el médico realiza una valoración integral  del paciente y sus enfermedades.</p>
                <button class="ui green button" id="gastro">Play Video</button>
                <div class="top-30 ui embed display-none" data-id="CIhwGRIBEQ8" data-source="youtube"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="big-top-space">
        <div class="bg-gray blue-dark-text full-height large-padding">
          <div class="row center-xs blue-dark-text">
            <div class="col-xs-12 col-md-12">
              <div class="box"></div>
              <h3 class="montserrat medium blue-dark-text">Procedimientos</h3>
            </div>
          </div>
          <div class="row center-xs">
            <div class="col-xs-5 col-sm-4 col-md-5">
              <div class="box">
                <div class="ui cards">
                  <div class="blue card">
                    <div class="content">
                      <div class="header">Panendoscopia</div>
                      <div class="image reveal masked slide ui">
                        <img src="images/panendoscopia.png">
                      </div>
                      <div class="description"></div>
                      Es la Introducción de una sonda por la boca la cual visualiza el paladar, garganta, esófago, estómago, y duodeno.
                    </div>
                  </div>
                  <div class="blue card">
                    <div class="content">
                      <div class="header">Colonoscopia</div>
                      <div class="image reveal masked slide ui">
                        <img src="images/colonoscopia.png">
                      </div>
                      <div class="description"></div>
                      Introduccion de una sonda por la región anal, previa limpieza con la cual visualiza los 1.50 metros del intestino grueso.
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row center-xs">
            <div class="col-xs-10 col-sm-10 col-md-5">
              <div class="ui blue message margin">ESTOS ESTUDIOS SE FILMAN, SE PUEDEN FOTOGRAFIAR Y A TRAVÉS DE ESTOS ESTUDIOS SE PUEDEN TOMAR FRAGMENTOS DE ESTÓMAGO O INTESTINO CON UNA PINZA ESPECIAL PARA QUE ESTO SE ANALICE A MICROSCOPIO.</div>
            </div>
          </div>
        </div>
      </div>
      <div class="big-top-space">
        <div class="bg-gray blue-dark-text full-height large-padding">
          <div class="row center-xs blue-dark-text">
            <div class="col-xs-12 col-md-12">
              <div class="box">
                <h3 class="montserrat medium blue-dark-text">Servicios</h3>
              </div>
            </div>
            <div class="col-xs-6 col-sm-10 col-md-7 col-lg-8">
              <div class="box">
                <div class="ui cards">
                  <div class="blue card">
                    <div class="content">
                      <div class="header">Esófago</div>
                      <div class="description">
                        Esofagitis por reflujo, disfagia o sentir que el alimento se atora, cáncer de esófago.
                      </div>
                    </div>
                  </div>
                  <div class="blue card">
                    <div class="content">
                      <div class="header">Estomago</div>
                      <div class="description">
                        gastritis, ulcera gástrica, dispepsia o indigestión, cáncer gástrico.
                      </div>
                    </div>
                  </div>
                  <div class="blue card">
                    <div class="content">
                      <div class="header">Intestino delgado</div>
                      <div class="description">
                        Ulcera duodenal, tumores de intestino, diarrea crónica.
                      </div>
                    </div>
                  </div>
                  <div class="blue card">
                    <div class="content">
                      <div class="header">Intestino grueso</div>
                      <div class="description">
                        Estreñimiento crónico, rectoraría o defecar con sangre, diarrea infecciosa, enfermedad inflamatoria de tipo colitis ulcerosa crónica idiopática, cáncer de colon, colon irritable, hemorroides.
                      </div>
                    </div>
                  </div>
                  <div class="blue card">
                    <div class="content">
                      <div class="header">Hígado</div>
                      <div class="description">
                        Cirrosis hepática y sus complicaciones, hígado graso, hepatitis viral, hepatitis por alcohol, tumores de hígado, quistes de hígado.
                      </div>
                    </div>
                  </div>
                  <div class="blue card">
                    <div class="content">
                      <div class="header">Vesícula y vías biliares</div>
                      <div class="description">
                        Colecistitis litiasica o piedras en la vesícula, coledocolitiasis o piedras atoradas en la vía biliar, tumores de vías biliares.
                      </div>
                    </div>
                  </div>
                  <div class="blue card">
                    <div class="content">
                      <div class="header">Páncreas</div>
                      <div class="description">
                        Pancreatitis aguda por alcohol o de origen biliar, cáncer de páncreas.
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="top-30">
        <div class="gray-darken big-padding-2 footer" id="footer">
          <div class="row center-xs text-left">
            <div class="col-lg-9">
              <div class="box">
                <div class="row center-xs text-left">
                  <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3">
                    <div class="box">
                      <p class="paragraph white-text">Enlaces</p>
                      <ul>
                        <li>
                          <a class="white-text menu-link" href="index.html">Inicio</a>
                        </li>
                      </ul>
                    </div>
                  </div>
                  <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3">
                    <div class="box">
                      <p class="paragraph white-text">Redes Sociales</p>
                      <a href="https://www.facebook.com">
                        <i class="fa fa-facebook-square fa-2x white-text"></i>
                      </a>
                      <a href="https://www.twitter.com">
                        <i class="fa fa-twitter-square fa-2x white-text"></i>
                      </a>
                      <a href="https://www.gmail.com">
                        <i class="fa fa-envelope fa-2x white-text"></i>
                      </a>
                    </div>
                  </div>
                  <div class="col-xs-10 col-sm-10 col-md-12 col-lg-12">
                    <div class="box">
                      <div class="top-30"></div>
                      <p class="thin white-text">Calle independencia #80 entre Vicente Guerrero y Callejon Morelos, San Francisco Tlaltenco Delegación Tlahuac Ciudad de México</p>
                      <p class="thin white-text">Telefonos:</p>
                      <p class="thin white-text">55-51-96-18-98  /  55-34-60-09-96</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC4ObmRjEwgl4toHvl0bLhVeRZS0c_4Gps"></script>
    <script src="./js/semantic.min.js"></script>
    <script src="./js/gastro.js?version=3.2"></script>
  </body>
</html>
