index.haml
!!!5
%html{class:"no-js", lang:"es"}
  %head
    %meta{charset:"utf-8"}
    %meta{name:"description", content:"Medico internista con especialidad en gastroenterologia."}
    %meta{name:"keywords",content:"Medicina, Gastroenterologia, Medicina interna,Doctor,Medico"}
    %meta{name:"author",content:"Adan Jaciel Palacios Rivas | ajpalacios.sist@gmail.com"}
    %link{ rel:"icon", href:"images/icon.ico"}
    %link{rel:"stylesheet", href:"css/normalize.css"}
    %link{rel: "stylesheet", href:"css/semantic.min.css"}
    %link{rel:"stylesheet", href:"css/main.css?version=3.1"}
    %link{rel:"stylesheet", href:"https://cdnjs.cloudflare.com/ajax/libs/flexboxgrid/6.3.1/flexboxgrid.css"}
    %link{ rel:"stylesheet", href:"https://fonts.googleapis.com/css?family=Montserrat"}
    %link{rel:"stylesheet",href:"https://fonts.googleapis.com/css?family=Nunito&amp;subset=latin-ext"}
    %link{rel:"stylesheet", href:"css/font-awesome/css/font-awesome.min.css"}
    %title Dr.Manuel Castellanos Neri
    %meta{name:"viewport", content:"width=device-width, initial-scale=1, maximum-scale=1"}
    %script{src:"js/vendor/modernizr.min.js"}
  %body
    ="<!--[if lt IE 9]>"
    %p{class:"browserupgrade"}
      Estas usando un
      %strong navegador desactualizado.
      Por favor
      %a{href:"http://browsehappy.com/"}
        actualiza tu navegador
      para una mejor experiencia.
    ="<![endif]-->"
    #inicio.hero-image
      .row.full-height.middle-xs.center-xs.up
        .col-xs-12
          .box
            %h1.nunito Dr.Manuel Castellanos Neri
            %p.nunito.medium Médico Especialista en Gastroenterologia y Medicina Interna
      .absolute.full-width.large-padding.navigation#responsive-nav
        .row.middle-xs.center-xs
          .col-xs-12.col-sm-12
            %nav
              %i.fa.fa-times.fa.fa-bars.fa-3x#menu-opener
              %ul
                %li
                  %a.menu-link{href:"#inicio"} Inicio
                %li
                  %a.menu-link{href:"#especialidades"} Especialidades
                %li
                  %a.menu-link{href:"#conoce"} Conoce a tu Médico
                %li
                  %a.menu-link{href:"#ubicacion"} Cómo llegar
                %li
                  %a.menu-link{href:"#contact"} Contactame
    %section#body
      .big-padding.bg-white#especialidades
        .row.center-xs
          .col-xs-12
            .box
              %h3.top-30.bottom.montserrat.blue-dark-text.thin Mis Especialidades
          .row.center-xs
            .col-xs-7.col-sm-6.col-md-6
              .box
                .ui.link.cards
                  .card
                    .image
                      %img{src:"./images/stomach.png"}
                    .content
                      %p.header Especialidad
                      .meta
                        %span.date Gastroenterologia
                    .extra.content
                      %a{href:"gastroenterologia.html"}
                        %i.fa.fa-arrow-circle-right
                        Conoce más

            .col-xs-7.col-sm-6.col-md-6
              .box
                .ui.link.cards
                  .card
                    .image
                      %img{src:"./images/stetho.png"}
                    .content
                      %p.header Especialidad
                      .meta
                        %span.date Medicina interna
                    .extra.content
                      %a{href:"medicinaInterna.html"}
                        %i.fa.fa-arrow-circle-right
                        Conoce más
      .bg-gray.big-top-space#conoce
        .big-padding
          .row.center-xs
            .col-xs-12
              %h3.top-30.montserrat.blue-dark-text.thin Conoce a tu Médico
            .col-xs-6.col-sm-4.col-md-4
              .box
                .ui.link.cards
                  .card
                    .image
                      %img{src:"images/foto.png"}
                    .content
                      .header Manuel Castellanos Neri
                      .meta
                        %a{href:"cv.pdf",target:"blank"} Mi experiencia
                      .description
                        Mexico City
                    .extra.content
                      %span.right.floated Joined in 2013
            .col-md-4#doctor-desc
              .box
                .ui.stacked.segment
                  %p
                  Al Médico especialista en Gastroenterología
                  se le denomina Gastroenterólogo y como parte de su área es
                  especializarse primero en Medicnia Interna y posteriormente en Gastroenterología.
                  %br
                  %br
                  %i.fa.fa-hand-o-right
                  %a{href:"cv.pdf",target:"blank"}Conoce más sobre mi experiencia

      .big-top-space
        .bg-white.big-padding#ubicacion
          .row.center-xs.middle-xs
            .col-xs-10.col-md-8
              .box
                %h3.top-30.montserrat.thin.blue-dark-text Mi Consultorio
                %i.fa.fa-clock-o.fa-2x
                %span#isOpen.blue-dark-text.medium Abierto ahora
            .col-xs-12.col-md-8
              .box
                #location
                  #map.top-30
                  #message.blue-dark-text.bg-gray.large-padding
      .big-top-space
        .bg-gray.blue-dark-text.full-height.large-padding#contact
          .row.middle-xs.full-height
            .col-xs-12
              .box
                %form{id:"contact-form",action:"https://formspree.io/ajpalacios.sist@gmail.com",method:"POST"}
                  .row.center-xs.middle-xs
                    .col-xs-10.col-md-8
                      .box
                        %h3.montserrat.blue-dark-text.thin Enviame tus comentarios
                    .col-xs-12.col-md-6
                      .box
                        %input.field{type:"email",name:"email",
                          placeholder:"Coloca tu correo electrónico"}
                        %input.field{type:"text",name:"nombre",
                          placeholder:"Coloca tu nombre"}
                        %textarea.field{name:"body",placeholder:"Escribe aqui tu mensaje..."}
                        %button.ui.green.button{type:"submit"} Contactame

      .top-30
        .gray-darken.big-padding-2.footer#footer
          .row.center-xs.text-left
            .col-lg-9
              .box
                .row.center-xs.text-left
                  .col-xs-6.col-sm-3.col-md-3.col-lg-3
                    .box
                      %p.paragraph.white-text Enlaces
                      %ul
                        %li
                          %a.white-text.menu-link{href:"#especialidades"} Especialidades
                        %li
                          %a.white-text.menu-link{href:"#conoce"} Conoce a tu médico
                        %li
                          %a.white-text.menu-link{href:"#ubicacion"} Ubicación
                        %li
                          %a.white-text.menu-link{href:"#contact"} Contacto
                  .col-xs-6.col-sm-3.col-md-3.col-lg-3
                    .box
                      %p.paragraph.white-text Redes Sociales
                      %a{href:"https://www.facebook.com"}
                        %i.fa.fa-facebook-square.fa-2x.white-text
                      %a{href:"https://www.twitter.com"}
                        %i.fa.fa-twitter-square.fa-2x.white-text
                      %a{href:"https://www.gmail.com"}
                        %i.fa.fa-envelope.fa-2x.white-text
                  .col-xs-10.col-sm-10.col-md-12.col-lg-12
                    .box
                      .top-30
                      %p.thin.white-text Calle independencia #80 entre Vicente Guerrero y Callejon Morelos, San Francisco Tlaltenco Delegación Tlahuac Ciudad de México
                      %p.thin.white-text Telefonos:
                      %p.thin.white-text 55-51-96-18-98  /  55-34-60-09-96


  %script{src:"https://code.jquery.com/jquery-3.1.1.min.js"}
  %script{src:"https://maps.googleapis.com/maps/api/js?key=AIzaSyC4ObmRjEwgl4toHvl0bLhVeRZS0c_4Gps"}
  %script{src:"./js/semantic.min.js"}
  %script{src:"./js/form_object.js?version=2.0"}
  %script{src:"./js/main.js?version=3.1"}
  %script{src:"./js/vendor/maps.js?version=1.0"}

index.html
<!DOCTYPE html>
<html class='no-js' lang='es'>
  <head>
    <meta charset='utf-8'>
    <meta content='Medico internista con especialidad en gastroenterologia.' name='description'>
    <meta content='Medicina, Gastroenterologia, Medicina interna,Doctor,Medico' name='keywords'>
    <meta content='Adan Jaciel Palacios Rivas | ajpalacios.sist@gmail.com' name='author'>
    <link href='images/icon.ico' rel='icon'>
    <link href='css/normalize.css' rel='stylesheet'>
    <link href='css/semantic.min.css' rel='stylesheet'>
    <link href='css/main.css?version=3.1' rel='stylesheet'>
    <link href='https://cdnjs.cloudflare.com/ajax/libs/flexboxgrid/6.3.1/flexboxgrid.css' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Nunito&amp;amp;subset=latin-ext' rel='stylesheet'>
    <link href='css/font-awesome/css/font-awesome.min.css' rel='stylesheet'>
    <title>Dr.Manuel Castellanos Neri</title>
    <meta content='width=device-width, initial-scale=1, maximum-scale=1' name='viewport'>
    <script src='js/vendor/modernizr.min.js'></script>
  </head>
  <body>
    <!--[if lt IE 9]>
    <p class='browserupgrade'>
      Estas usando un
      <strong>navegador desactualizado.</strong>
      Por favor
      <a href='http://browsehappy.com/'>
        actualiza tu navegador
      </a>
      para una mejor experiencia.
    </p>
    <![endif]-->
    <div class='hero-image' id='inicio'>
      <div class='row full-height middle-xs center-xs up'>
        <div class='col-xs-12'>
          <div class='box'>
            <h1 class='nunito'>Dr.Manuel Castellanos Neri</h1>
            <p class='nunito medium'>Médico Especialista en Gastroenterologia y Medicina Interna</p>
          </div>
        </div>
      </div>
      <div class='absolute full-width large-padding navigation' id='responsive-nav'>
        <div class='row middle-xs center-xs'>
          <div class='col-xs-12 col-sm-12'>
            <nav>
              <i class='fa fa-times fa fa-bars fa-3x' id='menu-opener'></i>
              <ul>
                <li>
                  <a class='menu-link' href='#inicio'>Inicio</a>
                </li>
                <li>
                  <a class='menu-link' href='#especialidades'>Especialidades</a>
                </li>
                <li>
                  <a class='menu-link' href='#conoce'>Conoce a tu Médico</a>
                </li>
                <li>
                  <a class='menu-link' href='#ubicacion'>Cómo llegar</a>
                </li>
                <li>
                  <a class='menu-link' href='#contact'>Contactame</a>
                </li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </div>
    <section id='body'>
      <div class='big-padding bg-white' id='especialidades'>
        <div class='row center-xs'>
          <div class='col-xs-12'>
            <div class='box'>
              <h3 class='top-30 bottom montserrat blue-dark-text thin'>Mis Especialidades</h3>
            </div>
          </div>
          <div class='row center-xs'>
            <div class='col-xs-7 col-sm-6 col-md-6'>
              <div class='box'>
                <div class='ui link cards'>
                  <div class='card'>
                    <div class='image'>
                      <img src='./images/stomach.png'>
                    </div>
                    <div class='content'>
                      <p class='header'>Especialidad</p>
                      <div class='meta'>
                        <span class='date'>Gastroenterologia</span>
                      </div>
                    </div>
                    <div class='extra content'>
                      <a href='gastroenterologia.html'>
                        <i class='fa fa-arrow-circle-right'></i>
                        Conoce más
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class='col-xs-7 col-sm-6 col-md-6'>
              <div class='box'>
                <div class='ui link cards'>
                  <div class='card'>
                    <div class='image'>
                      <img src='./images/stetho.png'>
                    </div>
                    <div class='content'>
                      <p class='header'>Especialidad</p>
                      <div class='meta'>
                        <span class='date'>Medicina interna</span>
                      </div>
                    </div>
                    <div class='extra content'>
                      <a href='medicinaInterna.html'>
                        <i class='fa fa-arrow-circle-right'></i>
                        Conoce más
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class='bg-gray big-top-space' id='conoce'>
        <div class='big-padding'>
          <div class='row center-xs'>
            <div class='col-xs-12'>
              <h3 class='top-30 montserrat blue-dark-text thin'>Conoce a tu Médico</h3>
            </div>
            <div class='col-xs-6 col-sm-4 col-md-4'>
              <div class='box'>
                <div class='ui link cards'>
                  <div class='card'>
                    <div class='image'>
                      <img src='images/foto.png'>
                    </div>
                    <div class='content'>
                      <div class='header'>Manuel Castellanos Neri</div>
                      <div class='meta'>
                        <a href='cv.pdf' target='blank'>Mi experiencia</a>
                      </div>
                      <div class='description'>
                        Mexico City
                      </div>
                    </div>
                    <div class='extra content'>
                      <span class='right floated'>Joined in 2013</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class='col-md-4' id='doctor-desc'>
              <div class='box'>
                <div class='ui stacked segment'>
                  <p></p>
                  Al Médico especialista en Gastroenterología
                  se le denomina Gastroenterólogo y como parte de su área es
                  especializarse primero en Medicnia Interna y posteriormente en Gastroenterología.
                  <br>
                  <br>
                  <i class='fa fa-hand-o-right'></i>
                  <a href='cv.pdf' target='blank'>Conoce más sobre mi experiencia</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class='big-top-space'>
        <div class='bg-white big-padding' id='ubicacion'>
          <div class='row center-xs middle-xs'>
            <div class='col-xs-10 col-md-8'>
              <div class='box'>
                <h3 class='top-30 montserrat thin blue-dark-text'>Mi Consultorio</h3>
                <i class='fa fa-clock-o fa-2x'></i>
                <span class='blue-dark-text medium' id='isOpen'>Abierto ahora</span>
              </div>
            </div>
            <div class='col-xs-12 col-md-8'>
              <div class='box'>
                <div id='location'>
                  <div class='top-30' id='map'></div>
                  <div class='blue-dark-text bg-gray large-padding' id='message'></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class='big-top-space'>
        <div class='bg-gray blue-dark-text full-height large-padding' id='contact'>
          <div class='row middle-xs full-height'>
            <div class='col-xs-12'>
              <div class='box'>
                <form action='https://formspree.io/ajpalacios.sist@gmail.com' id='contact-form' method='POST'>
                  <div class='row center-xs middle-xs'>
                    <div class='col-xs-10 col-md-8'>
                      <div class='box'>
                        <h3 class='montserrat blue-dark-text thin'>Enviame tus comentarios</h3>
                      </div>
                    </div>
                    <div class='col-xs-12 col-md-6'>
                      <div class='box'>
                        <input class='field' name='email' placeholder='Coloca tu correo electrónico' type='email'>
                        <input class='field' name='nombre' placeholder='Coloca tu nombre' type='text'>
                        <textarea class='field' name='body' placeholder='Escribe aqui tu mensaje...'></textarea>
                        <button class='ui green button' type='submit'>Contactame</button>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class='top-30'>
        <div class='gray-darken big-padding-2 footer' id='footer'>
          <div class='row center-xs text-left'>
            <div class='col-lg-9'>
              <div class='box'>
                <div class='row center-xs text-left'>
                  <div class='col-xs-6 col-sm-3 col-md-3 col-lg-3'>
                    <div class='box'>
                      <p class='paragraph white-text'>Enlaces</p>
                      <ul>
                        <li>
                          <a class='white-text menu-link' href='#especialidades'>Especialidades</a>
                        </li>
                        <li>
                          <a class='white-text menu-link' href='#conoce'>Conoce a tu médico</a>
                        </li>
                        <li>
                          <a class='white-text menu-link' href='#ubicacion'>Ubicación</a>
                        </li>
                        <li>
                          <a class='white-text menu-link' href='#contact'>Contacto</a>
                        </li>
                      </ul>
                    </div>
                  </div>
                  <div class='col-xs-6 col-sm-3 col-md-3 col-lg-3'>
                    <div class='box'>
                      <p class='paragraph white-text'>Redes Sociales</p>
                      <a href='https://www.facebook.com'>
                        <i class='fa fa-facebook-square fa-2x white-text'></i>
                      </a>
                      <a href='https://www.twitter.com'>
                        <i class='fa fa-twitter-square fa-2x white-text'></i>
                      </a>
                      <a href='https://www.gmail.com'>
                        <i class='fa fa-envelope fa-2x white-text'></i>
                      </a>
                    </div>
                  </div>
                  <div class='col-xs-10 col-sm-10 col-md-12 col-lg-12'>
                    <div class='box'>
                      <div class='top-30'></div>
                      <p class='thin white-text'>Calle independencia #80 entre Vicente Guerrero y Callejon Morelos, San Francisco Tlaltenco Delegación Tlahuac Ciudad de México</p>
                      <p class='thin white-text'>Telefonos:</p>
                      <p class='thin white-text'>55-51-96-18-98  /  55-34-60-09-96</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </body>
  <script src='https://code.jquery.com/jquery-3.1.1.min.js'></script>
  <script src='https://maps.googleapis.com/maps/api/js?key=AIzaSyC4ObmRjEwgl4toHvl0bLhVeRZS0c_4Gps'></script>
  <script src='./js/semantic.min.js'></script>
  <script src='./js/form_object.js?version=2.0'></script>
  <script src='./js/main.js?version=3.1'></script>
  <script src='./js/vendor/maps.js?version=1.0'></script>
</html>
