offline/view.html
<!DOCTYPE html>
<html class="no-js" lang="es">
  <head>
    <meta charset="utf-8">
    <title>Dr.Manuel Castellanos Neri</title>
    <link href="style.css" rel="stylesheet">
    <meta content="Medico internista con especialidad en gastroenterologia." name="description">
    <meta content="width=device-width, initial-scale=1" name="viewport">
  </head>
  <body>
    <p id="message">Parece que no pudimos conectarnos a internet, no hay problema, aquí esta la información que necesitas.</p>
    <div class="container">
      <h1>Dr.Manuel Castellanos Neri</h1>
      <p>
        <strong>Médico especialista en Gastroenterologia y Medicina Interna</strong>
      </p>
      <p>
        <strong>Dirección</strong>
        Independencia #80 San Francisco Tlaltenco, Delegación Tlahuac
      </p>
      <p>
        <strong>Horario</strong>
        5pm -- 8pm
      </p>
      <p>
        <strong>Telefonó</strong>
        45365654
      </p>
      <p>
        <descripcion>
          Doy consulta.-.--
        </descripcion>
      </p>
      <div id="map">
        <img src="map.png">
        <p>Este mapa ofrece referencia sobre el lugar</p>
      </div>
    </div>
  </body>
</html>

offline/view.haml
!!!5
%html{class:"no-js", lang:"es"}
  %head
    %meta{charset:"utf-8"}
    %title Dr.Manuel Castellanos Neri
    %link{rel:"stylesheet", href:"style.css"}
    %meta{name:"description", content:"Medico internista con especialidad en gastroenterologia."}
    %meta{name:"viewport", content:"width=device-width, initial-scale=1"}
  %body
    %p#message Parece que no pudimos conectarnos a internet, no hay problema, aquí esta la información que necesitas.
    .container
      %h1 Dr.Manuel Castellanos Neri 
      %p
        %strong Médico especialista en Gastroenterologia y Medicina Interna
      %p
        %strong Dirección
        Independencia #80 San Francisco Tlaltenco, Delegación Tlahuac
      %p
        %strong Horario
        5pm -- 8pm
      %p 
        %strong Telefonó
        45365654
      %p
        %descripcion
          Doy consulta.-.--
      
      #map
        %img{src:"map.png"}
        %p Este mapa ofrece referencia sobre el lugar
